In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('sample_data.csv', index_col=0)

In [4]:
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [5]:
index = df.index
columns = df.columns
values = df.values

In [6]:
index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object')

In [7]:
columns

Index(['state', 'color', 'food', 'age', 'height', 'score'], dtype='object')

In [8]:
values #numpy.ndarray

array([['NY', 'blue', 'Steak', 30, 165, 4.6],
       ['TX', 'green', 'Lamb', 2, 70, 8.3],
       ['FL', 'red', 'Mango', 12, 120, 9.0],
       ['AL', 'white', 'Apple', 4, 80, 3.3],
       ['AK', 'gray', 'Cheese', 32, 180, 1.8],
       ['TX', 'black', 'Melon', 33, 172, 9.5],
       ['TX', 'red', 'Beans', 69, 150, 2.2]], dtype=object)

In [9]:
df[['color', 'food', 'score']]

           color    food  score
Jane        blue   Steak    4.6
Niko       green    Lamb    8.3
Aaron        red   Mango    9.0
Penelope   white   Apple    3.3
Dean        gray  Cheese    1.8
Christina  black   Melon    9.5
Cornelia     red   Beans    2.2

In [10]:
df.loc['Niko']

state        TX
color     green
food       Lamb
age           2
height       70
score       8.3
Name: Niko, dtype: object

In [11]:
df.loc[['Niko', 'Penelope']]

         state  color   food  age  height  score
Niko        TX  green   Lamb    2      70    8.3
Penelope    AL  white  Apple    4      80    3.3

In [15]:
sub_df = df[["state", "color"]]

In [16]:
sub_df

          state  color
Jane         NY   blue
Niko         TX  green
Aaron        FL    red
Penelope     AL  white
Dean         AK   gray
Christina    TX  black
Cornelia     TX    red

In [21]:
for line in sub_df.values:
    state, color = line
    print(state)
    print(color)

NY
blue
TX
green
FL
red
AL
white
AK
gray
TX
black
TX
red

In [22]:
for state, color in sub_df.values:
    
    print(state)
    print(color)

NY
blue
TX
green
FL
red
AL
white
AK
gray
TX
black
TX
red